snippet html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>${VISUAL:HTML Template}</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="body">
    <h1>${VISUAL:HTML Template}</h1>
    <p>
      ${1}
    <p>
  </div>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>
endsnippet
